<div id="particles-js"></div>
<style>
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

</style>

<script async src="{{ "/assets/js/particles.min.js" | relative_url }}"></script>

<script async>
document.addEventListener("DOMContentLoaded", function(event) { 
    particlesJS.load('particles-js', '{{ "/assets/json/particles.json" | relative_url }}', function() {
  console.log('callback - particles.js config loaded');
});
});


</script>
